
body{
    display: grid; 
    grid-template-columns: 1fr 3fr;
    font-family: "Lora"; 
    height: min(1000px, 100vh);
    width: minmax(1000px, 100vh);
}

.sidebar{ 
    background-color: rgb(47, 185, 231) ;
    color: white; 
    gap: 30px; 
    padding-left: 70px;
    padding-right: 20px;
    grid-auto-rows: 0.2fr 1fr 1fr;
    display: grid;
}

.dashboard, .main, .help{ 
    display: grid;
}

.main, .help{ 
    font-size: 20px;
}

.dashboard{ 
    font-size: 28px;
}

.container{ 
    display: grid;
    grid-template-rows: 1fr 3fr;
}

.board{ 
    background-color: lightgray;
}