
body{ 
    display: grid;
    grid-template-columns: 1fr 6fr;
    font-family: "Inter"; 
    height: 100vh;
    width: 100vw;
    margin: 0;
}

.sidebar{ 
    background-color: rgb(47, 185, 231) ;
    color: white; 
    width: 25vw;
    display: grid;
    grid-template-rows: 0.2fr 0.2fr 0.2fr;
    gap: 10px;
}

.sidebar, .container{ 
    height: 100%;
}
.container{
    width: 75vw;
    background-color: rgb(230, 229, 229);
}

.dashboard, .main, .help, .mainNav, .helpNav, .search, .left, .right, .header, .users, .tags{ 
    display: grid; 
}

.dashboard, .mainNav, .helpNav{ 
    grid-template-columns: 1fr 3fr;
    align-items: center;
}

.dashboard, .main, .help{ 
    padding: 5px 20px;
    font-weight: 900;
}

.main{ 
    grid-template-rows: repeat(6, 15%);
}

.help{ 
    grid-template-rows: repeat(3, 30%);
}

.dashboard{ 
    font-size: 22px;
}

.main, .help { 
    font-size: 16px;
}

.header{ 
    background-color: white;
    padding: 10px 40px;
    gap: 20px;
}

.board{  
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 0.8fr;
    gap: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    padding-top: 5px;
}

.trending{ 
    grid-column: 2;
}

.card{ 
    resize: both;
    height: 153px;
    width: 300px;
    background-color: white;
    padding: 5px 10px;
    border-radius: 6%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.card p{
    grid-column: 1;
}

.icons{
    grid-column: 2;
    grid-row: 2;
}

.cards{ 
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    grid-template-rows: repeat(3, 1fr);
}

.card p:first-of-type, .board>div>p:first-of-type{ 
    font-weight: 700;
}

.card:last-child{ 
    justify-self: flex-end;
}

.card>div>p:last-of-type{
    color: lightgray;
}

.card:first-child{ 
    justify-content: flex-start;
}

.search{ 
    display: grid;
    grid-template-columns: 2.2fr 0.8fr;
    align-items: center;
    font-size: 18px;
}

.left{ 
    grid-template-columns: 0.1fr 0.7fr;
    align-items: center;
} 

.right{ 
    grid-template-columns: repeat(2, 0.2fr) 0.5fr;
    align-items: center;
    font-weight: 700;
}

input{
    height: 20px;
    background-color: lightgray;
    border-radius: 5%;
    font-size:16px;
}

.user{
    display: grid;
    grid-template-columns: 3fr 0.5fr;
    align-items: center;
}

.account{ 
    display: grid;
    grid-template-columns: 0.3fr 2fr;
    align-items: center;
}

.account img{
    grid-row: 1 / 3;
}

.account p{ 
    font-weight: 900;
}

.intro>:last-child{
    font-size: 22px;
}

.actions{ 
    font-family: "Inter";
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
}

button{ 
    background-color: rgb(47, 185, 231);
    border-color: rgb(47, 185, 231);
    color:white;
    font-family: "Inter";
    border-radius: 40%;
    padding: 10px 20px;
    font-size: 16px;
}

.intro{
    line-height: 50%;
} 

.board>div>p:first-of-type, .announce>p:nth-child(3n + 1), .card div>p:first-of-type{ 
    font-weight: 900;
}

.announce>p:nth-child(3n + 1){
    font-size: 12px;
}

.card p{ 
    line-height: 10%;
}

.announce, .users{
    background-color: white;
    padding: 10px 20px;
    border-radius: 5%;
    font-size: 12px;
}

.tags>div>p{
    font-size: 12px;
}

.announce>p:nth-child(3n + 2), .tags>div>p:last-child {
    color: lightgray;
    font-size: 12px;
}

.tags{
    align-items: center;
    line-height: 80%;
    grid-template-columns: 1fr 3fr;
}

.announce>p:nth-child(3n + 2){
    font-size: 12px;
}

.tags>div>p{
    font-size:14px;
}

.trending{ 
    grid-row: 2;
    grid-column: 1;
}

.boardSide{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 0.5fr 0.5fr;
}

.trending p, .announcements p {
    font-weight: 900;
}
